body {

	background-color:#CCCCCC;

	font-family:Geneva,Arial,Helvetica,sans-serif;

	margin: 10px auto;

	max-width:90%;

	border:solid;

	border-color:#FFFFFF;

}



header {

	/*Bordes redondeados*/  	

    	border-radius:15px;/*Estandar por defecto*/

	background-color: #F47D31;

	display:block;

	color:#FFFFFF;

	text-align:center;

  	animation-duration: 3s;
  	animation-name: slidein;
        animation-iteration-count: infinite;
}

}

h1 {

  color: blue;

}

p {

  color: red;

} 



p {

  border: 1px solid powderblue;

}

/* desplegable en linea */

.documentos ul {

		display: flex;

		padding: 0;

		margin: 0;

		list-style: none;

	}

/* colores despegable */

.documentos a {

		display: block;

		padding: 2em;

		background-color: #F9B53C;

		text-decoration: none;

		color: #191C26;

}



/* colores seleccionado */

.documentos a:hover {

		background-color: #CC673B;

	}



/* solo muestra primer nivel */

.documentos ul li ul {

		display: none;

	}

/* muestra segundo nivel */

.documentos ul li a:hover + ul, .documentos ul li ul:hover {

		display: block;

	}

article {

 float : left;

width : 65%;

}

aside {clear:none;

  	background-color: lightblue;

  	 float : right;

	width : 25%;

  	 /*Bordes redondeados*/  

   	 border-radius:5px;/*Estandar por defecto*/

	 font-family:Arial, Helvetica, sans-serif;

    	font-size:16px;

	font-weight:bold;

    	margin-right:10px;

   	 text-align:center;

	/*Sombras para texto, los mismos parametros que box-shadow*/

    	text-shadow: 0px 1px 0px #FFF;

}

.lista	{

		list-style:square;

		color:blue;	

	}

footer {



 	clear : both;

	width : 100%;

	background-color:yellow;

	display:block;

	color:red;

	text-align:center;

}



table#t01 {

	  width: 100%; 

	  background-color: #f1f1c1;

	  border: 3px solid black;

}  



table#t01 tr:nth-child(even) {

 	background-color: #eee;

}

table#t01 tr:nth-child(odd) {

 	background-color: #fff;

}



table#t01 th {

	color: white;

	background-color: black;



} 

summary {

  display: block;

}
